<p-dialog [modal]="true" [(visible)]="visible" [style]="{width: '40rem', height: '40rem'}"> 
    <div>
        <button 
            pButton 
            icon="pi pi-pen-to-square" 
            class="flex-auto whitespace-nowrap" 
            (click)="edit.emit()"
        ></button>
    </div>
    <div>
        <button 
            pButton 
            icon="pi pi-trash" 
            outlined 
            class="flex-auto whitespace-nowrap"
            (click)="delete.emit()"
        ></button>
    </div>
</p-dialog>