<p-dialog
    [header]="title()"
    [modal]="true"
    [(visible)]="visible"
    [style]="{width: '26rem'}"
>
    <form [formGroup]="form" (ngSubmit)="saveGoal()" class="goal-form">
        <div class="goal-form_field">
            <label for="goal-name">Name</label>
            <input id="goal-name" formControlName="name" type="text" placeholder="Early Retirement Plan" />
            @if (form.get("name")?.invalid && form.get("name")?.touched) {
                <small class="p-error">Name is required</small>
            }
        </div>
        <div class="goal-form_field">
            <label for="goal-age">Goal Target Age</label>
            <input id="goal-age" formControlName="targetRetirementAge" type="number" placeholder="65" />
            @if (form.get("targetRetirementAge")?.invalid && form.get("targetRetirementAge")?.touched) {
                <small class="p-error">Target Retirement Age must be above 0</small>
            }
        </div>
        <div class="goal-form_field">
            <label for="goal-target-amount">Target Amount</label>
            <p-inputNumber 
            id="goal-target-amount" 
            formControlName="targetAmount" 
            mode="currency" 
            currency="USD" 
            locale="en-US" 
            />
            @if (form.get("targetAmount")?.invalid && form.get("targetAmount")?.touched) {
                <small class="p-error">Target Amount must be greater than 0</small>
            }
        </div>
        <div class="goal-form_field">
            <label for="goal-notes">Notes</label>
            <input id="goal-notes" formControlName="notes" type="text" placeholder="Optional Notes" />
        </div>

        <div class="goal-form_actions">
            <p-button
                label="Cancel"
                type="button"
                severity="secondary"
                [outlined]="true"
                (onClick)="cancel()"
                styleClass="goal-form_cancel-btn"
            />

            <p-button
                label="Save"
                type="submit"
                [disabled]="form.invalid"
                styleClass="goal-form_save-btn"
            />
        </div>
    </form>
</p-dialog>