<p-table 
    [value]="contributions()"
    selectionMode="single"
    [(selection)]="selection" 
    [paginator]="true" 
    [rows]="10"
    [tableStyle]="{'min-width': '50rem'}"
    [totalRecords]="totalContributions()"
    [lazy]="true"
    (onLazyLoad)="lazyLoad.emit($event)"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <span class="text-xl font-bold">Contributions</span>
            <button class="header_cta" label="Log Contribution" (click)="create.emit()">+ Log contribution</button>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            @if (showSourceColumn()) {
                <th>Funding Source</th>
            }
            @if (showGoalColumn()) {
                <th>Goal</th>
            }
            <th>Amount</th>
            <th>Date</th>
            <th>Notes</th>
            <th>Contribution Category</th>
            <th>Update</th>
        </tr>
    </ng-template>
    <ng-template #body let-contribution>
        <tr>
            @if (showSourceColumn()) {
                <td>{{ getSourceName(contribution.sourceId) }}</td>
            }
            @if (showGoalColumn()) {
                <td>{{ getGoalName(contribution.goalId) }}</td>
            }
            <td>{{ contribution.amount | currency }}</td>
            <td>{{ contribution.date | dateFormat }}</td>
            <td>{{ contribution.notes }}</td>
            <td>{{ contribution.category | contributionCategoryLabel }}</td>
            <td><p-tableRadioButton [value]="contribution" (click)="select.emit()" /></td>
        </tr>
    </ng-template>
</p-table>